body {
    background: darkgray;
}

h1{
    font-size: 5rem;
    text-align:center;
    margin-bottom: 0;
}

h3{
    text-align:center;
}

#keysHolder {
    display: grid;
    gap: 1rem;
    grid-template-rows: 100px 100px auto;
    grid-template-columns: repeat(13, auto);

}

button {
    color: white;
    background: black;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}